<%= search_form_for [:admin, @search] do |f| %>
  <div class="input-group mb-3">
    <%= f.select :status_cont, select_status, {selected: @search.status_cont}, class: "form-select" %>
    <%= f.search_field :name_or_id_cont, class: "form-control" %>
    <%= f.submit t(".submit"), class: "btn btn-outline-primary" %>
  </div>
<% end %>
