<% Book.all.each do |book| %>
  <div class="grid-column-new2">
    <a href="/books/<%= book.id%>" class="home-product-item">
      <div class="product-item-img" style="background-image: url(https://cdn0.fahasa.com/media/catalog/product/e/s/essential_test_for_toeic_rc_1000_vol_2_khong_cd_1_2018_08_07_10_18_57.JPG);"></div>
      <h4 class="product-item-name">
        <%= book.name %>
      </h4>
      <div class="product-item-price">
        <span class="product-item-price-old"><%= book.price %></span>
        <span class="product-item-price-current"><%= book.price %></span>
      </div>
      <div class="product-item-rating">
        <span class="rating-heart">
          <i class="fa fa-heart-o" aria-hidden="true"></i>
        </span>
        <div class="rating-star">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <span class="rating-number-sold">Đã bán 88</span>
      </div>
      <div class="product-item-origin">
        <span>Hà Nội</span>
      </div>
      <div class="product-item-favourite">
        <i class="fa fa-check" aria-hidden="true"></i>
        Yêu thích
      </div>
    </a>
  </div>
<% end %>
