<div class="body-app">
  <div class="my-body-2-app">
    <div class="my-product-contain">
      <div class="product-contain-title">
        <%= t ".my_cart" %>
      </div>
    </div>
  </div>
</div>
