<tr>
  <td><%= category_counter + 1 %></td>
  <td><%= category.name %></td>
  <td>
    <%= link_to edit_admin_category_path(category) do %>
      <label class="btn btn-warning">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </label>
    <% end %>
    <%= link_to "#",method: :delete,
                                      data: {confirm: "Delete"},
                                      remote: true,
                                      class: "book_delete" do %>
      <label class="btn btn-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </label>
    <% end %>
  </td>
</tr>
