body {
  font-family: 'Poppins', sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.body-history{
  min-height: 600px;
}

.layout_padding {
  padding: 20px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
}

.heading_container h2 span {
  color: #f3c93e;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub_page .hero_area {
  min-height: auto;
}

.sub_page .about_section {
  background-color: #313958;
}

.header_section {
  background-color: #3a4468;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .header_top {
  padding: 15px 0;
  background-color: #434f78;
}

.header_section .header_bottom {
  padding: 10px 0;
}

.top_nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact_nav a {
  color: #ffffff;
  margin-right: 10px;
}

.contact_nav a i {
  color: #f3c93e;
}

.contact_nav a:hover {
  color: #f3c93e;
}

.search_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15px;
}

.search_form .form-control {
  border-radius: 5px 0 0 5px;
  height: 40px;
  width: auto;
  min-width: unset;
}

.search_form button {
  width: 45px;
  min-width: 45px;
  height: 40px;
  padding: 0;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #f3c93e;
  border-radius: 0 5px 5px 0;
}

.user_option_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user_option_box a {
  color: #ffffff;
  margin-left: 25px;
  text-transform: uppercase;
}

.user_option_box a i {
  color: #f3c93e;
}

.user_option_box a span {
  margin-left: 5px;
}

.user_option_box a:hover {
  color: #f3c93e;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  color: #000000;
  font-weight: bold;
  font-size: 28px;
  font-weight: bold;
}

.navbar-brand span {
  color: #ffffff;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 10px 25px;
  color: #ffffff;
  text-align: center;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #f3c93e;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 0;
  background-color: #f7f7f7;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  color: #3a4468;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  margin-bottom: 25px;
}

.slider_section .detail-box h1 span {
  color: #f3c93e;
}

.slider_section .detail-box p {
  color: #6d6d6d;
}

.slider_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #f3c93e;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #f3c93e;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-top: 15px;
}

.slider_section .detail-box a:hover {
  background-color: transparent;
  color: #f3c93e;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel_btn_box {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 110px;
  height: 50px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  z-index: 3;
}

.slider_section .carousel_btn_box .carousel-control-prev,
.slider_section .carousel_btn_box .carousel-control-next {
  position: unset;
  width: 50px;
  height: 50px;
  background-color: #3a4468;
  opacity: 1;
  -webkit-transition: all .2s;
  transition: all .2s;
  font-size: 18px;
}

.slider_section .carousel_btn_box .carousel-control-prev img,
.slider_section .carousel_btn_box .carousel-control-next img {
  width: 10px;
}

.slider_section .carousel_btn_box .carousel-control-prev:hover,
.slider_section .carousel_btn_box .carousel-control-next:hover {
  background-color: #f3c93e;
}

.product_section .heading_container {
  margin-bottom: 25px;
}

.product_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  margin-top: 15px;
  position: relative;
  overflow: hidden;
}

.product_section .box .img-box {
  background-color: #f8f8f8;
  width: 100%;
  height: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 15px;
}

.product_section .box .img-box img {
  height: 175px;
  max-width: 100%;
}

.product_section .box .img-box .add_cart_btn {
  display: inline-block;
  width: 175px;
  text-align: center;
  height: 45px;
  line-height: 45px;
  background-color: #3a4468;
  color: #ffffff;
  position: absolute;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 0;
  z-index: 3;
}

.product_section .box .img-box .add_cart_btn:hover {
  background-color: #f3c93e;
  color: #ffffff;
}

.product_section .box .img-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.product_section .box .detail-box {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.product_section .box .product_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product_section .box .star_container {
  color: #f2b01e;
}

.product_section .box:hover .img-box .add_cart_btn {
  opacity: 1;
  visibility: visible;
}

.product_section .box:hover .img-box::before {
  opacity: .55;
}

.product_section .btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.product_section .btn_box .view_more-link {
  display: inline-block;
  padding: 10px 45px;
  background-color: #f3c93e;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #f3c93e;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.product_section .btn_box .view_more-link:hover {
  background-color: transparent;
  color: #f3c93e;
}

.about_section {
  background-color: #3a4468;
  color: #ffffff;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box img {
  width: 100%;
}

.about_section .detail-box {
  margin: 45px 0;
}

.about_section .detail-box p {
  color: #fefefe;
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #f3c93e;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #f3c93e;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #f3c93e;
}

.why_us_section {
  position: relative;
}

.why_us_section .heading_container {
  margin-bottom: 20px;
}

.why_us_section .box {
  margin-top: 25px;
  text-align: center;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  padding: 25px 15px;
}

.why_us_section .box .img-box {
  height: 45px;
}

.why_us_section .box .img-box img {
  height: 100%;
  -webkit-filter: brightness(0);
          filter: brightness(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.why_us_section .box .detail-box {
  margin-top: 15px;
}

.why_us_section .box .detail-box h5 {
  font-weight: bold;
  text-transform: uppercase;
}

.why_us_section .box .detail-box a {
  color: #3a4468;
  font-weight: 600;
}

.why_us_section .box .detail-box a:hover {
  color: #f3c93e;
}

.why_us_section .box:hover .img-box img {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.client_section .client_container {
  margin: 15px auto 0 auto;
}

.client_section .client_container .box {
  margin: 20px auto;
}

.client_section .client_container .box .detail-box {
  padding: 35px;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.29);
}

.client_section .client_container .box .detail-box p {
  margin: 0;
}

.client_section .client_container .box .client-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 25px;
}

.client_section .client_container .box .client-id .img-box {
  min-width: 90px;
  margin-right: 25px;
  background-color: #f3c93e;
  padding: 55px 15px 15px 15px;
  -webkit-clip-path: polygon(35% 15%, 50% 0, 65% 15%, 100% 15%, 100% 100%, 0 100%, 0 15%);
          clip-path: polygon(35% 15%, 50% 0, 65% 15%, 100% 15%, 100% 100%, 0 100%, 0 15%);
}

.client_section .client_container .box .client-id .img-box img {
  width: 100%;
}

.client_section .client_container .box .client-id .name {
  margin-bottom: 15px;
}

.client_section .client_container .box .client-id .name h5 {
  font-weight: bold;
  text-transform: uppercase;
}

.client_section .client_container .box .client-id .name h6 {
  color: #f3c93e;
  font-weight: normal;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  width: 50px;
  height: 50px;
  top: 24%;
  z-index: 9;
  opacity: 1;
  background-color: #3a4468;
  font-size: 24px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.client_section .carousel-control-prev:hover,
.client_section .carousel-control-next:hover {
  background-color: #f3c93e;
}

.client_section .carousel-control-prev {
  left: 45px;
}

.client_section .carousel-control-next {
  right: 45px;
}

.info_section {
  background-color: #3a4468;
  color: #ffffff;
  padding: 90px 0 45px 0;
}

.info_section h5 {
  margin-bottom: 15px;
  font-size: 24px;
}

.info_section .info_links ul {
  padding: 0;
}

.info_section .info_links ul li {
  list-style-type: none;
}

.info_section .info_links ul li a {
  display: inline-block;
  color: #ffffff;
  margin-bottom: 5px;
}

.info_section .info_form form input {
  outline: none;
  width: 100%;
  padding: 7px 10px;
}

.info_section .info_form form button {
  padding: 8px 35px;
  outline: none;
  border: none;
  color: #ffffff;
  background: #f3c93e;
  margin-top: 15px;
  text-transform: uppercase;
}

.info_section .info_form .social_box {
  margin-top: 35px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_section .info_form .social_box a {
  margin-right: 25px;
  color: #ffffff;
  font-size: 24px;
}

/* footer section*/
.footer_section {
  position: relative;
  background-color: #3a4468;
  text-align: center;
}

.footer_section p {
  border-top: 1px solid #ffffff;
  color: #ffffff;
  padding: 20px 0;
  margin: 0;
}

.footer_section p a {
  color: inherit;
}
/*# sourceMappingURL=style.css.map */
.alert-danger {
  margin-left: 30px;
  margin-right: 30px;
}

.required label:after {
  color: #e32;
  content: ' (*)';
  display:inline;
}

.table-info .edit_order {
  display: inline-block;
}

.filter {
  margin: 20px 20px 0px;
}

.created-at {
  margin-top: 20px;
  text-align: center;
}

.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fe6433, rgba(241, 83, 55, 0.911));
  padding-top: 4px;
}

.header__navbar{
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
}

.header__navbar-item{
  margin: 0 8px;
  z-index: 1;
}

.register_link{
  text-decoration: none;
}

.login_link{
  text-decoration: none;
}

.header__navbar-user{
  display: flex;
  align-items: center;
  position: relative;
}

.header__navbar-user:hover .navbar__user-menu{
  display: block;
}

.header__navbar-userimg{
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.header__navbar-userspan{
  margin-left: 6px;
  font-size: 1.5rem;
  font-weight: 400;
}

.navbar__user-menu{
  position: absolute;
  padding: 8px 0px;
  border-radius: 2px;
  width: 160px;
  top: 31px;
  right: 0px;
  background-color: var(--white-color);
  list-style: none;
  z-index: 1;
  border: 1px solid #d3d3d3;
  border-top: none;
  display: none;
}

.navbar__user-menu::before{
  content: "";
  position: absolute;
  right: 30px;
  top: -26px;
  border-width: 16px 20px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  cursor: pointer;
}
.navbar__user-menu::after{
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -20px;
  width: 200px;
  height: 30px;
}
.navbar__user-menu li a{
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.6rem;
  display: block;
  padding: 10px 16px;

}

.navbar__user-menu li a:hover{
  background-color: #fafafa;
}
.header__navbar-item-register{
  font-weight: 600;
}

.header__navbar-item, .header__navbar-item-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--white-color, 0.4);
  font-family: 'Roboto', sans-serif;
  font-weight: 0;
}

.header__navbar-item:hover , .header__navbar-item-link:hover {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.header__navbar-item-hasnotify{
  position: relative;
}

.header__navbar-item-hasnotify:hover .header__notify{
  display: block;
}

.header__navbar-icon{
  padding-left: 6px;
}

.header__navbar-item-connect{
  cursor: default;
}

.header__notify{
  position: absolute;
  width: 404px;
  right: -10px;
  margin-top: 18px;
  background-color: var(--white-color);
  border: 1px solid #d3d3d3;
  cursor: default;
  transform-origin: 90% top;
  animation: header-notify-grow ease-in 0.2s;
  display: none;
}

.header__notify::before{
  content: "";
  margin: auto;
  border: 20px solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: white;
  position: absolute;
  right: 20px;
  top: -35px;
}

.header__notify::after{
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -20px;
  width: 200px;
  height: 30px;
}

@keyframes header-notify-grow{
  from {
      opacity: 0;
      transform: scale(0);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}
.header__notify-head{
  height: 40px;
  background-color: var(--white-color);
}

.header__notify-head h3{
  color: #666;
  margin: 0 0 0 12px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 40px;
}

.header__notify-list{
  padding-left: 0;
  list-style: none;
  max-height: 58vh;
  overflow: hidden;
}

.header__notify-item{
  display: flex;
}

.header__notify-item:hover{
  background-color: #f7f7f7;
}

.header__notify-link {
  display: flex;
  padding: 12px;
  text-decoration: none;
  background-color: rgba(238, 77, 45, 0.08);
  width: 100%;
}

.header__notify-img {
  height: 40px;
  width: 48px;
}

.header__notify-info{
  padding: 0;
  margin-left: 12px;
}

.header__notify-name{
  display: block;
  padding-bottom: 4px;
  font-size: 1.4rem;
  color: var(--black-color);
  font-weight: 400;
}

.header__notify-dis{
  display: block;
  font-size: 1.2rem;
  color: #333;
  line-height: 1.6rem;
  max-height: 4.8rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-align: left;
  padding-right: 4px;
}

.header__notify-footer{
  text-align: center;
  padding: 10px 16px;
}

.header__notify-footer a{
  text-decoration: none;
  text-align: center;
  color: var(--text-color);
  padding: 10px 32px;
}

.header-with-search{
  height: var(--header-search-height);
  display: flex;
  align-items: center;
  margin: 0 8px;
}

.header__logo{
  width: 200px;
  margin-right: 12px;
}

.header__logo a{
  width: 70px;
  height: 70px;
  text-decoration: none;
  color: var(--white-color);
}

.header__logo a:hover{
  text-decoration: none;
  color: var(--white-color);
}

.header__logo a i{
  font-size: 5.0rem;
}

.logo-text{
  font-family: 'PT Serif', serif;
  font-size: 4.6rem;
  font-weight: 400;
  margin: auto;
}
.header__search{
  background-color: var(--white-color);
  height: 40px;
  flex: 1;
  border-radius: 2px;
  display: flex;
}

.header__cart{
  width: 170px;
  text-align: center;
  position: relative;
}

.fa-shopping-cart::before{
  font-size: 3.0rem;
  color: var(--white-color);
  width: 150px;
  margin-top: 20px;
}

.header__cart-number{
  position: absolute;
  padding: 1px 6px;
  top: -6px;
  right: -6px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  border-radius: 10px;
  border: 2px solid #ee4d2d;
  color: var(--primary-color);
  background-color: var(--white-color);

}

.header__search-input{
  width: 82%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0 16px;
  border-radius: 3px;
}

.header__search-select{
  display: flex;
  border-left: 1px solid #ccc;
  padding-left: 16px;
  align-items: center;
}

.header__search-select span{
  font-size: 1.4rem;
  color: var(--text-color);
}

.fa-angle-down::before{
  font-size: 1.4rem;
  color: #4a4a4a;
  margin: 0 12px 0 8px;
}

.header__search-btn{
  background-color: var(--primary-color);
  border: none;
  align-items: center;
  width: 80px;
  outline: none;
  border-radius: 3px;
  margin: 2px 0px 2px 0px;
  padding-right: 0px;
}

.header__search-btn:hover{
  background-color: #f16b50;
  cursor: pointer;
}

.fa-search::before{
  color: var(--white-color);
  font-size: 1.6rem;
}

.header__cart-list{
  position: absolute;
  right: -30px;
  background-color: var(--white-color);
  width: 400px;
  border-radius: 2px;
  box-shadow: 0 2px 10px #ccc;
  margin-top: 8px;
  display: none;
  z-index: 1;
  cursor: default;
  transform-origin: 90% top;
  animation: header-notify-grow ease-in 0.2s;
}

.header__cart-wrap{
  position: relative;
  display: inline-block;
  padding: 0 12px;
  cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list{
  display: block;
}

.header__cart-list::after{
  content: "";
  position: absolute;
  right: 30px;
  top: -26px;
  border-width: 16px 20px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  cursor: pointer;
}


/* No cart */
.header__cart-list p{
  font-size: 1.4rem;
  color: var(--text-color);

}

.no__cart-img{
  width: 60%;
  padding: 28px 0;

}
/* Co cart */
.header__cart-list h4{
  text-align: left;
  margin: 14px 0 14px 12px;
  font-size: 1.8rem;
  color: #999;
  font-weight: 400;

}

.cart__list-img{
  width: 42px;
  height: 42px;
  margin: 12px;
  border: 1px solid #e8e8e8;
}

.cart__list-item{
  padding-left: 0;
  list-style: none;
  cursor: pointer;
  max-height: 48vh;
  overflow: hidden;
}

.cart__item{
  display: flex;
  align-items: center;
}

.cart__item:hover{
  background-color: #f8f8f8;
}

.card__item-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: 12px;
}

.card__item-head h5{
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
  max-height: 2rem;
  overflow: hidden;
  flex: 1;
  padding-right: 16px;
  float: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-align: left;
}

.cart__item-price{
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--primary-color);
}

.cart__item-multiply{
  color: #757575;
  margin: 0 4px;
}

.cart__item-quantity{
  font-size: 1.4rem;
  color: #757575;
}

.cart__foot{
  background-color: #f8f8f8;
  height: 50px;
  align-items: center;
}

.cart__item-btn{
  float: right;
  background-color: var(--primary-color);
  border: none;
  width: 120px;
  height: 90%;
  outline: none;
  border-radius: 3px;
  margin: 2px 0px 2px 0px;
  padding-right: 0px;
  font-size: 1.6rem;
  color: var(--white-color);
  cursor: pointer;
}

.cart__item-btn:hover{
  background-color: #f16b50;
}

.mid{
  background-color: #f5f5f5;
}

.category{
  border-radius: 2px;
  background-color: var(--white-color);
}

.category-heading{
  font-size: 1.8rem;
  color: var(--text-color);
  padding: 12px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin: 0;
}

.category-heading i{
  margin-right: 4px;
  font-size: 1.6rem;
}

.category-list-container{
  margin: 0 16px;
}
.category-list{
  padding: 0 0 40px 0;
  list-style: none;
}

.category-item-link{
  position: relative;
  text-decoration: none;
  color: var(--black-color);
  font-size: 1.6rem;
  padding: 10px 16px;
  display: block;
  border-top: 1px solid rgba(0, 0, 0, 0.09);
}

.category-active{
  background-color: var(--primary-color);
  color: var(--white-color);
}

.category-item-link-1{
  color: var(--primary-color);
  font-weight: 600;
  border-top:none;
}

.home-filter{
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.06);
  padding: 12px 24px;
  border-radius: 2px;
}

.filter-span{
  font-size: 1.6em;
  color: #555;
  margin-right: 16px;
}

.filter-button{
  background-color: var(--white-color);
  border: none;
  width: 90px;
  height: 34px;
  outline: none;
  border-radius: 3px;
  margin: 2px 0px 2px 0px;
  padding-right: 0px;
  font-size: 1.6rem;
  color: var(--black-color);
  cursor: pointer;
  margin-right: 12px;
}
.filter-button.filter-button-active{
  background-color: var(--primary-color);
  border: none;
  width: 90px;
  height: 34px;
  outline: none;
  border-radius: 3px;
  margin: 2px 0px 2px 0px;
  padding-right: 0px;
  font-size: 1.6rem;
  color: var(--white-color);
  cursor: pointer;
  margin-right: 12px;
}

.filter-price{
  padding: 0 0 0 12px;
  border-radius: 2px;
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  height: 34px;
  width: 200px;
  cursor: pointer;
  position: relative;
}

.filter-price:hover .filter-price-list{
  display: block;
}
.filter-price-list{
  position: absolute;
  left: 0;
  right: 0;
  top: 32px;
  padding: 8px 16px;
  list-style: none;
  border-radius: 2px;
  background-color: var(--white-color);
  display: none;
  z-index: 1;
  border-top: 1px solid #ccc;
}

.filter-price-link{
  font-size: 1.6rem;
  color: var(--text-color);
  text-decoration: none;
  display: block;
  padding: 8px 0;
}

.filter-price-link:hover{
  color: var(--primary-color);
}

.filter-page{
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 1.6rem;
}

.filter-page-num{
  margin-right: 24px;
}

.current-page-num{
  color: var(--primary-color);
}

.filter-page-control{
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  width: 72px;
  height: 36px;
}
.filter-page-btn{
  flex: 1;
  background-color: var(--white-color);
  display: flex;
  text-decoration: none;
  border-right: 1px solid #eee;
}

.filter-page-btn i{
  margin: auto;
  color: #555;
}

.filter-page-btn-disable{
  background-color: #ccc;
  cursor: default;
}

.filter-page-btn-disable i{
  color: rgb(179, 169, 169);
}

/* Product item */

.home-product{
  margin-bottom: 20px;
}

.home-product-item{
  /* margin-top: 10px; */
  background-color: var(--white-color);
  position: relative;
  height: 100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: transform ease-in 0.1s;
  will-change: transform;
  display: block;
  text-decoration: none;
}

.home-product-item:hover{
  transform: translateY(-1px);
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
  text-decoration: none;
}

.product-item-img{
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.product-item-name{
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.8rem;
  height: 3.6rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  padding: 0 10px;
  margin: 10px 0;
}

.product-item-price{
  display: flex;
  margin-left: 10px;
}

.product-item-price-old{
  font-size: 1.4rem;
  color: #666;
  text-decoration: line-through;
}

.product-item-price-current{
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-left: 10px;
}

.product-item-rating{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.rating-star{
  margin-left: auto;
  color: rgb(248, 221, 66);
}

.rating-number-sold{
  margin-left: 6px;
  font-size: 1.3rem;
  color: var(--text-color);
}

.product-item-origin{
  margin: 6px 10px;
  float: right;
/* color: #595959; */
  font-size: 1.3rem;
  font-weight: 300;
}

.product-item-favourite{
  position: absolute;
  top: 10px;
  left: -4px;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
  padding-right: 4px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.product-item-favourite i{
  font-size: 0.9rem;
  margin: 0 4px;
}

.home-controller{
  margin: 50px 0px 80px 0px;
}

/* footer */

.footer{
  padding: 20px 0;
  border-top: 4px solid var(--primary-color);
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

.footer-heading{
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 700;
}

.footer-list{
  list-style: none;
  padding-left: 0;
  font-size: 1.4rem;
  margin: 8px 0;
  color: rgba(0, 0, 0, 0.54);
}

.footer-item{
  padding: 6px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.footer-item i{
  font-size: 2.6rem;
  margin-right: 10px;
}

.footer-item:hover{
  color: var(--primary-color);
}

.head{
  height: 84px;
  display: flex;
  align-items: center;
}

.head-content{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.head__logo{
  width: 200px;
  margin-right: 12px;
}

.head__logo a{
  width: 70px;
  height: 70px;
  text-decoration: none;
  color: var(--primary-color);
}

.head__logo a i{
  font-size: 5.0rem;
}

.logo-text{
  font-family: 'PT Serif', serif;
  font-size: 4.6rem;
  font-weight: 400;
  margin: auto;
}

.head-signup-name{
  font-size: 3.2rem;
  color: #222;
  padding-top: 14px;
}

.body-app{
  background-color: #f5f5f5;
  min-height: 900px;
}

.my-body-app{
  height: 740px;
  width: 1040px;
  margin: 0 auto;
}

.signup-title {
  width: 810px;
  font-size: 22px;
  color: #424242;
  font-weight: 400;
  padding-top: 50px;
  line-height: 26px;
}

.signup-form{
  margin-top: 50px;
}

.signup-form-contain{
  margin: auto;
  width: 520px;
  min-height: 550px;
  background-color: var(--white-color);
  padding: 0 32px;
}

.signup-form-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signup-form-head h3{
  font-size: 3rem;
  font-weight: 400;
  color: #333;
}

.signup-form-head a{
  text-decoration: none;
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

.signup-form-group{
  display: flex;
  align-items: center;
  background-color: #fff;
  position: relative;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,.14);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #222;
  height: 40px;
  padding: 10px;
  transition: border-color .1s ease;
  margin-bottom: 16px;
}

/* Khi input co loi */

/* .input-with-validator--error{
  border-color: #ff424f;
  background-color: #fff9fa;
} */

.signup-form-input{
  flex: 1;
  font-size: 1.6rem;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: 0;
}

.signup-form-policy{
  margin-top: 8px;
  font-size: 1.4rem;
  text-align: center;
  padding: 0 16px;
}

.signup-form-policy-link{
  text-decoration: none;
  color: var(--primary-color);
}

.signup-form-control{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.signup-form-goback{
  height: 36px;
  min-width: 180px;
  padding: 0 20px;
  background: #fff;
  color: #555;
  font-size: 1.4rem;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.09);
  cursor: pointer;
}

.signup-form-goback:hover{
  background: rgba(0,0,0,.02);
}

.signup-form-signup{
  background-color: var(--primary-color);
  border: none;
  width: 180px;
  height: 36px;
  outline: none;
  border-radius: 3px;
  font-size: 1.4rem;
  color: var(--white-color);
  cursor: pointer;
  margin-left: 10px;
}

.signup-form-signup:hover{
  background-color: #f16b50;
}

.IFLxoY{
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

._1ZEpVL {
  color: #ccc;
  padding: 0 16px;
  text-transform: uppercase;
  font-size: 1.6rem;
}

._3svg61 {
  height: 1px;
  width: 100%;
  background-color: #dbdbdb;
  flex: 1;
}

.signup-form-social{
  font-size: 1.8rem;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  height: 40px;
}

.social-facebook{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  background-color: #3a5a98;
  padding: 10px;
  color: var(--white-color);
  font-weight: 300;
}

.social-facebook p{
  margin: 0;
  padding: 0 10px;
}
.social-facebook i{
  color: var(--white-color);
}

.social-google{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  background-color: rgb(229, 226, 226);
  padding: 10px;
  color: rgb(145, 77, 77);
  font-weight: 300;
  border-right: 1px solid #f5f5f5;
}

.social-google p{
  margin: 0;
  padding: 0 10px;
}

.social-google i{
  font-size: 2rem;
}

.signup-form-switch{
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.signup-switch-login{
  text-decoration: none;
  color: var(--primary-color);
}

.head{
  height: 84px;
  display: flex;
  align-items: center;
}

.head-content{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.head__logo{
  width: 200px;
  margin-right: 12px;
}

.head__logo a{
  width: 70px;
  height: 70px;
  text-decoration: none;
  color: var(--primary-color);
}

.head__logo a i{
  font-size: 5.0rem;
}

.logo-text{
  font-family: 'PT Serif', serif;
  font-size: 4.6rem;
  font-weight: 400;
  margin: auto;
}

.head-login-name{
  font-size: 3.2rem;
  color: #222;
  padding-top: 14px;
}

.body-app{
  background-color: #f5f5f5;
}

.my-body-app{
  height: 740px;
  width: 1040px;
  margin: 0 auto;
}

.login-title {
  width: 810px;
  font-size: 22px;
  color: #424242;
  font-weight: 400;
  padding-top: 50px;
  line-height: 26px;
}

.login-form{
  margin-top: 50px;
}

.login-form-contain{
  margin: auto;
  width: 520px;
  min-height: 550px;
  background-color: var(--white-color);
  padding: 0 32px;
}

.login-form-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-form-head h3{
  font-size: 3rem;
  font-weight: 400;
  color: #333;
}

.login-form-head a{
  text-decoration: none;
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

.login-form-group{
  display: flex;
  align-items: center;
  background-color: #fff;
  position: relative;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,.14);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #222;
  height: 40px;
  padding: 10px;
  transition: border-color .1s ease;
  margin-bottom: 16px;
}

/* Khi input co loi */

/* .input-with-validator--error{
  border-color: #ff424f;
  background-color: #fff9fa;
} */

.login-form-input{
  flex: 1;
  font-size: 1.6rem;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: 0;
}

.login-form-policy{
  margin-top: 8px;
  font-size: 1.4rem;
  text-align: center;
  padding: 0 16px;
}

.login-form-policy-link{
  text-decoration: none;
  color: var(--primary-color);
}

.login-form-control{
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.login-form-goback{
  height: 36px;
  min-width: 180px;
  padding: 0 20px;
  background: #fff;
  color: #555;
  font-size: 1.4rem;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.09);
  cursor: pointer;
}

.login-form-goback:hover{
  background: rgba(0,0,0,.02);
}

.login-form-login{
  background-color: var(--primary-color);
  border: none;
  width: 180px;
  height: 36px;
  outline: none;
  border-radius: 3px;
  font-size: 1.4rem;
  color: var(--white-color);
  cursor: pointer;
  margin-left: 10px;
}

.login-form-login:hover{
  background-color: #f16b50;
}

.IFLxoY{
  display: flex;
  align-items: center;
  padding: 30px 10px;
}

._1ZEpVL {
  color: #ccc;
  padding: 0 16px;
  text-transform: uppercase;
  font-size: 1.6rem;
}

._3svg61 {
  height: 1px;
  width: 100%;
  background-color: #dbdbdb;
  flex: 1;
}

.login-form-social{
  font-size: 1.8rem;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  height: 40px;
}

.social-facebook{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  background-color: #3a5a98;
  padding: 10px;
  color: var(--white-color);
  font-weight: 300;
}

.social-facebook p{
  margin: 0;
  padding: 0 10px;
}
.social-facebook i{
  color: var(--white-color);
}

.social-google{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  background-color: rgb(229, 226, 226);
  padding: 10px;
  color: rgb(145, 77, 77);
  font-weight: 300;
  border-right: 1px solid #f5f5f5;
}

.social-google p{
  margin: 0;
  padding: 0 10px;
}

.social-google i{
  font-size: 2rem;
}

.login-form-switch{
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.login-switch-login{
  text-decoration: none;
  color: var(--primary-color);
}

.alertLogin {
  font-size: 1.6rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.65);
  padding: 15px 0px 1px 186px;
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: rgb(238, 77, 45);
  --header-height: 120px;
  --navbar-height: 34px;
  --header-search-height: cacl(var(--header-height)-var(var(--navbar-height)));
}

body {
  padding-top: 0px;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
}

.grid {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

/* reponsive */

.grid-column{
  padding-top: 36px;
}

.grid-column-2{
  padding-left: 5px;
  padding-right: 5px;
  width: 16.667%;
}

.grid-column-new2{
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
  margin-top: 10px;
}

.grid-column-10{
  padding-left: 5px;
  padding-right: 5px;
  width: 83.333%;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.pagination-item{
  margin: 0 8px;
}

.pagination-item-active .pagination-item-link{
  background-color: var(--primary-color);
  color: var(--white-color);
  text-align: center;
  line-height: 34px;
}

.pagination-item-active .pagination-item-link:hover{
  background-color: rgb(240, 121, 74);
}

.pagination-item-link{
  display: block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 300;
  color: #939393;
  min-width: 40px;
  height: 34px;
  text-align: center;
  line-height: 34px;
}

.grid-column-4{
  padding-left: 5px;
  padding-right: 5px;
  width: 40%;
}

.grid-column-6{
  padding-left: 5px;
  padding-right: 5px;
  width: 60%;
}

.first-book-name{
  display: flex;
  font-size: 1.8rem;
  padding: 20px 0;
  align-items: center;
}

/* thong bao da mua */
.aleart-success{
  position: fixed;
  top: 36%;
  right: 40%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  width: 320px;
  height: 160px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  border: 2px solid rgb(16, 182, 16);
  border-radius: 4px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  animation: fadeOut linear 1s 2s forwards;
  opacity: 0.7;
}

@keyframes fadeOut {
  from {
      opacity: 0.6;
  }
  to {
      opacity: 0;
  }
}

.aleart-success-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: rgb(9, 224, 9);
}

.aleart-success-text{
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}


.book-container{
  background-color: var(--white-color);
}

.home-product{
  padding: 15px;
}

.home-product-info{
  padding: 30px 35px 0 30px;
}

.product-img{
  background-color: var(--white-color);
  height: 430px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 50%;
  background-position-y: center;
  margin: 0 30px;
}

.book-heading{
  font-size: 3rem;
  font-weight: 600;
  color: #333;
  line-height: 3rem;
  padding-bottom: 18px;
  margin: 0;
}

.product-view-sa{
  padding-bottom: 10px;
}

.product-view-sa-supplier{
  display: inline-block;
  width: 60%;
  padding-right: 15px;
  font-size: 1.6rem;
}

.product-view-sa-supplier span:nth-of-type(2) {
  font-weight: 600;
}

.product-view-sa-author{
  display: inline-block;
  width: 39%;
  padding-left: 15px;
  font-size: 1.6rem;
  padding-bottom: 4px;
}

.product-view-sa-author span:nth-of-type(2) {
  font-weight: 600;
}

.product-rating{
  display: flex;
  padding-bottom: 16px;
}

.rating-new-star{
  color: rgb(248, 221, 66);
  font-size: 1.6rem;
  padding-right: 6px;
}

.product-rating span{
  font-size: 1.6rem;
  color: #333;
  margin-left: 14px;
}

.book-item-price{
  display: flex;
  align-items: center;
  padding: 20px 0 20px;
  /* background-color: #f5f5f5; */
}

.book-item-price-old{
  font-size: 2.4rem;
  color: #666;
  text-decoration: line-through;

}

.book-item-price-current{
  font-size: 4.4rem;
  color: var(--primary-color);
  margin-left: 30px;
  font-weight: 600;
}

.expected_delivery{
  font-size: 1.6rem;
  padding: 10px 0;
}

.expected_delivery-address{
  padding-bottom: 6px;
}

.expected_delivery-address span:nth-child(1){
  margin-right: 50px;
}

.expected_return-product-policy span:nth-child(1){
  margin-right: 58px;
}

.product-view-quantity-box{
  display: flex;
  align-items: center;
  padding: 8px 0;
  /* height: 32px; */
}

.product-view-quantity-box label {
  font-size: 2.4rem;
  font-weight: 650;
  padding: 0 8px 0 0;
  margin-bottom: 0;
  text-align: left;
  max-width: 260px;
  min-width: 150px;
  color: #333;
}

.product-view-quantity-box-block{
  display: flex;
  align-items: center;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  height: 40px;
}

.btn-subtract-qty{
  border: none;
  background-color: white;
  padding: 0 8px 4px 16px;
  margin: auto;
  text-align: center;
}

.product-view-quantity-box-block #qty {
  border: none !important;
  /* border: none;
  border-left: 1px solid #c1c1c1;
  border-right: 1px solid #c1c1c1; */

  width: 3em!important;
  color: #0D0E0F;
  font-weight: 700;
  font-size: 1.6em;
  height: 100%;
  text-align: center;
}

a.btn-add-qty {
  border: none;
  background-color: white;
  padding: 0px 16px 0 8px;
  margin: auto;
  text-align: center;
}

.btn-add-qty {
  border: none;
  background-color: white;
  padding: 0px 16px 0 8px;
  margin: auto;
  text-align: center;
}

.product_view_add_box{
  display: flex;
  align-items: center;
  margin: 30px 0;
  height: 48px;
}

.btn-cart-to-cart{
  background-color: rgba(255,87,34,0.1);
  border: 1px solid #ee4d2d;
  min-width: 120px;
  outline: none;
  border-radius: 3px;
  padding: 0 20px;
  height: 100%;
  margin-right: 15px;
  font-size: 1.8rem;
  color: #ee4d2d;
  cursor: pointer;
}

.btn-cart-to-cart i{
  font-size: 2.4rem;
  padding-right: 6px;
}

.btn-cart-to-cart:hover{
  background-color: rgba(230, 94, 49, 0.05);
}

.btn-buy-now{
  background-color: var(--primary-color);
  border: none;
  width: 150px;
  height: 100%;
  padding: 12px 0;
  outline: none;
  border-radius: 3px;
  font-size: 1.8rem;
  color: var(--white-color);
  cursor: pointer;
}

.btn-buy-now:hover{
  background-color: #f16b50;
}

.book-info-content{
  margin-top: 30px;
  background-color: var(--white-color);
}

.book-info-content h3{
  font-size: 2.4rem;
  font-weight: 700;
  padding: 10px 14px;
  margin: 10px 0 0;
}

.book-info-content h6{
  margin: 0;
  font-size: 1.8rem;
  color: #333;
  font-weight: 400;
  padding: 2px 14px;
  margin: 0;
}

.book-info-content h5{
  font-size: 2rem;
  padding: 2px 14px;
  margin: 10px 0;
}

.book-info-content p{
  margin: 0;
  padding: 4px 30px 4px 14px;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 30px;
}

.mb-3{
  padding: 14px 0;
  font-size: 2rem;
  margin: 0;
}

.user-rating-book{
  margin-top: 20px;
  padding-bottom: 20px;
  padding-left: 14px;
  background-color: var(--white-color);
}

.user-rating-book .box h5{
  font-size: 1.6rem;
  margin: 0;
}

.user-rating-book .box h6{
  margin: 0;
  font-size: 1.4rem;
}

.user-rating-book .box p{
  margin: 0;
  font-size: 1.4rem;
}

.user-rating-book form label{
  display: inline-block;
  font-size: 1.6rem;
  margin-top: 6px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 6px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;;
  border-radius: 2px;
  appearance: none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.add-comment{
  background-color: rgba(255,87,34,0.1);
  border: 1px solid #ee4d2d;
  min-width: 120px;
  outline: none;
  border-radius: 3px;
  padding: 10px 0px;
  height: 100%;
  margin: 20px 20px 20px 0px;
  font-size: 1.8rem;
  color: #ee4d2d;
  cursor: pointer;
}

.add-comment:hover{
  background-color: rgba(230, 94, 49, 0.05);
}

.recomend-product{
  margin-top: 60px;
  padding-bottom: 60px;
  background-color: white;
}

.gird__row-limit{
  max-height: 350px;
  overflow: hidden;
}

.title-recomend{
  font-size: 2rem;
  padding: 6px 0;
  color: #333;
}

.see-more-product{
  margin: 10px 0;
}

.btn-see-more{
  background-color: rgba(255,87,34,0.1);
  border: 1px solid #ee4d2d;
  outline: none;
  border-radius: 3px;
  padding: 4pxpx 0px;
  height: 100%;
  margin: 20px 0;
  font-size: 1.8rem;
  color: #ee4d2d;
  cursor: pointer;
}

.btn-see-more:hover{
  background-color: rgba(230, 94, 49, 0.05);
}


#rating-selecter {
  font-size: 1.6rem;
}

#label-rating-selecter {
  font-size: 1.6rem;
}

.plus-img{
  width: 12px;
  height:auto;
}


.body-app{
  background-color: #f5f5f5;
}

/* thong bao da mua */
.aleart-success{
  position: fixed;
  top: 36%;
  right: 40%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  width: 320px;
  height: 160px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  border: 2px solid rgb(16, 182, 16);
  border-radius: 4px;
  animation: fadeOut linear 1s 2s forwards;
  opacity: 0.7;
}

@keyframes fadeOut {
  from {
      opacity: 0.6;
  }
  to {
      opacity: 0;
  }
}

.aleart-success-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: rgb(9, 224, 9);
}

.aleart-success-text{
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.my-body-2-app{
  width: 1200px;
  margin: 0 auto;
}

.product-contain-title{
  font-size: 3.6rem;
  color: var(--primary-color);
  padding: 50px 0;
  line-height: 26px;
  display: flex;
  justify-content: center;
}

.product-contain-body{
  background-color: var(--white-color);
}

.contain-body-head{
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 3px;
  height: 55px;
  font-size: 16px;
  background: rgb(255, 255, 255);
  text-transform: capitalize;
  margin-bottom: 12px;
  color: rgb(136, 136, 136);
  padding: 0px 20px;
}

.head-product-name{
  color: rgba(0, 0, 0, 0.8);
  width: 46.2795%;
}

.head-product-price{
  width: 15.8802%;
  text-align: center;
}

.head-product-number{
  width: 15.4265%;
  text-align: center;
}

.head-product-allprice{
  width: 10.4356%;
  text-align: center;
}

.head-product-delete{
  width: 12.7042%;
  text-align: center;
}

.product-body-main{
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  margin: 22px 20px;
}

.body-main-product{
  margin-top: 0px;
  padding: 16px 0px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.main-product-imgandtext{
  display: flex;
  width: 31%;
  box-sizing: border-box;
  align-items: center;
}

.product-imgandtext-img img{
  background-position: 50% center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}

.product-imgandtext-text span{
  display: block;
  font-size: 1.6rem;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.87);
}

.main-product-seemore{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 176px;
}

.product-seemore-btn{
  background-color: rgba(255,87,34,0.1);
  border: 1px solid #ee4d2d;
  outline: none;
  border-radius: 3px;
  padding: 6px 4px;
  height: 100%;
  font-size: 1.8rem;
  color: #ee4d2d;
  cursor: pointer;
}

.product-seemore-btn:hover{
  background-color: rgba(230, 94, 49, 0.05);
}

.main-product-price{
  width: 15.8802%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}

.product-price-old{
  color: rgba(0, 0, 0, 0.54);
  text-decoration: line-through;
  margin-right: 10px;
}

.main-product-number{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15.4265%;
  font-size: 1.6rem;
}

.main-product-number label{
  margin-right: 6px;
}

.main-product-number input{
  width: 50px;
  height: 100%;
  border-top: none;
  border-bottom: none;
  text-align: center;
}

.main-product-allprice{
  width: 10.4356%;
  text-align: center;
  color: rgb(238, 77, 45);
  font-size: 1.6rem;
}

.main-product-delete{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 12%;
  margin-right: 6px;
}

.product-delete-btn{
  background-color: rgba(104, 28, 5, 0.1);
  border: 1px solid #0e0301;
  outline: none;
  border-radius: 3px;
  padding: 4px 4pxpx;
  height: 100%;
  font-size: 1.8rem;
  color: #0f0908;
  cursor: pointer;
}

.product-delete-btn:hover{
  background-color: #dad5d4;
}

._2aRlry {
  margin-left: 20px;
  margin-right: 20px;
  height: 1px;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.product-buy-payment{
  margin-top: 20px;
  padding-bottom: 40px;
}

.buy-payment-top{
  background-color: var(--white-color);
  padding: 40px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payment-top-how{
  font-size: 2.6rem;
  color: rgb(34, 34, 34);
}

.payment-top-when{
  font-size: 2rem;
  color: rgb(34, 34, 34);
}

.buy-payment-main{
  background: rgb(255, 254, 251);
  border-top: 1px solid rgb(241, 240, 237);
  padding-top: 15px;
  display: flex;
}

.payment-main-empty-left{
  width: 72%;
}

.payment-main-content{
  font-size: 1.8rem;
  width: 35%;
  margin-right: 30px;
  color: rgba(0, 0, 0, 0.54);
}

.main-content-price, .main-content-ship, .main-content-pay{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.pay-all-price{
  color: var(--primary-color);
  font-size: 3.4rem;
}

.main-content-buy{
  padding: 30px 0;
  display: flex;
  justify-content: right;
}

.content-buy-btn{
  background-color: var(--primary-color);
  border: none;
  width: 200px;
  height: 40px;
  outline: none;
  border-radius: 3px;
  font-size: 1.8rem;
  color: var(--white-color);
  cursor: pointer;
}

.content-buy-btn:hover{
  background-color: #f16b50;
}

.book-info-hr{
  width: 100%;
  height: 8px;
}

.edit_user{
  display: flex;
}

.edit-div-form{
  margin: auto;
  width: 1400px;
  padding: 60px;
}

.img-thumbnail{
  width: 350px;
  height: 350px;
}

.col-40 {
  -ms-flex: 40%;
  flex: 40%;
}

.col-50 {
  -ms-flex: 50%;
  flex: 50%;
}

.col-60 {
  -ms-flex: 60%;
  flex: 60%;
}

.col-40,
.col-50,
.col-60 {
  padding: 0 16px;
}

.container-checkout {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.row-checkout{
  padding: 100px 0;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: #f16b50;
}

.cart-h4{
  margin-bottom: 20px;
  font-size: 20px;
}

.checkout_total_text{
  font-size: 16px;
}

.checkout_btn_submit{
  background-color: var(--primary-color);
  border: none;
  width: 120px;
  height: 36px;
  outline: none;
  border-radius: 3px;
  font-size: 1.4rem;
  color: var(--white-color);
  cursor: pointer;
  margin-top: 10px;
}

.comment_area{
  width: 60%;
  height: 100px;
}

.comment-image{
  width: 200px;
  height: 100px;
}

.comment-userimg{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  float: left
}

.rating>input {
  display: none
}

.rating>label {
  position: relative;
  width: 19px;
  font-size: 25px;
  color: #ff0000;
  cursor: pointer
}

.user-rating-book form label {
  font-size: 24px;
}
.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important
}
.rating>input:checked~label:before {
  opacity: 1
}
.rating:hover>input:checked~label:before {
  opacity: 0.4
}

.comment-area textarea {
  resize: none;
  border: 1px solid #ad9f9f
}

.comment-area {
  font-size: 18px;
}

.image-input{
  display: block;
}

.submit-contain{
  width: 10%;
}

.box-comment{
  display: flex;
  padding: 40px 0;
}

.box-comment-left{
  margin: 0 20px;
}

.box-comment-right{
  font-size: 18px;
}
