.edit-link {
  text-decoration: none;
  color: #fff;
  &:link {
    text-decoration: none;
    color: #fff;
  }

  &:visited {
    text-decoration: none;
    color: #fff;
  }

  &:hover {
    text-decoration: none;
    color: #fff;
  }

  &:active {
    text-decoration: none;
    color: #fff;
  }

}

.chart-contain{
  margin: 80px 40px;
  box-shadow: 0 4px 10px #ccc;
}

.chart-contain h3{
  margin: 20px 0;
  text-align: center;
}

.date-contain{
  display: flex;
  justify-content: space-evenly;
}
