.edit-link {
  text-decoration: none;
  color: #fff;
  &:link {
    text-decoration: none;
    color: #fff;
  }

  &:visited {
    text-decoration: none;
    color: #fff;
  }

  &:hover {
    text-decoration: none;
    color: #fff;
  }

  &:active {
    text-decoration: none;
    color: #fff;
  }

}
