@import "bootstrap-sprockets";
@import "bootstrap";
@import "base.scss";
@import "main.scss";
@import "signup.scss";
@import "login.scss";
@import "book_info.scss";

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
