.head{
  height: 84px;
  display: flex;
  align-items: center;
}

.head-content{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.head__logo{
  width: 200px;
  margin-right: 12px;
}

.head__logo a{
  width: 70px;
  height: 70px;
  text-decoration: none;
  color: var(--primary-color);
}

.head__logo a i{
  font-size: 5.0rem;
}

.logo-text{
  font-family: 'PT Serif', serif;
  font-size: 4.6rem;
  font-weight: 400;
  margin: auto;
}

.head-signup-name{
  font-size: 3.2rem;
  color: #222;
  padding-top: 14px;
}

.body-app{
  background-color: #f5f5f5;
}

.my-body-app{
  height: 740px;
  width: 1040px;
  margin: 0 auto;
}

.signup-title {
  width: 810px;
  font-size: 22px;
  color: #424242;
  font-weight: 400;
  padding-top: 50px;
  line-height: 26px;
}

.signup-form{
  margin-top: 50px;
}

.signup-form-contain{
  margin: auto;
  width: 520px;
  min-height: 550px;
  background-color: var(--white-color);
  padding: 0 32px;
}

.signup-form-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signup-form-head h3{
  font-size: 3rem;
  font-weight: 400;
  color: #333;
}

.signup-form-head a{
  text-decoration: none;
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

.signup-form-group{
  display: flex;
  align-items: center;
  background-color: #fff;
  position: relative;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,.14);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #222;
  height: 40px;
  padding: 10px;
  transition: border-color .1s ease;
  margin-bottom: 16px;
}

/* Khi input co loi */

/* .input-with-validator--error{
  border-color: #ff424f;
  background-color: #fff9fa;
} */

.signup-form-input{
  flex: 1;
  font-size: 1.6rem;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: 0;
}

.signup-form-policy{
  margin-top: 8px;
  font-size: 1.4rem;
  text-align: center;
  padding: 0 16px;
}

.signup-form-policy-link{
  text-decoration: none;
  color: var(--primary-color);
}

.signup-form-control{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.signup-form-goback{
  height: 36px;
  min-width: 180px;
  padding: 0 20px;
  background: #fff;
  color: #555;
  font-size: 1.4rem;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.09);
  cursor: pointer;
}

.signup-form-goback:hover{
  background: rgba(0,0,0,.02);
}

.signup-form-signup{
  background-color: var(--primary-color);
  border: none;
  width: 180px;
  height: 36px;
  outline: none;
  border-radius: 3px;
  font-size: 1.4rem;
  color: var(--white-color);
  cursor: pointer;
  margin-left: 10px;
}

.signup-form-signup:hover{
  background-color: #f16b50;
}

.IFLxoY{
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

._1ZEpVL {
  color: #ccc;
  padding: 0 16px;
  text-transform: uppercase;
  font-size: 1.6rem;
}

._3svg61 {
  height: 1px;
  width: 100%;
  background-color: #dbdbdb;
  flex: 1;
}

.signup-form-social{
  font-size: 1.8rem;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  height: 40px;
}

.social-facebook{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  background-color: #3a5a98;
  padding: 10px;
  color: var(--white-color);
  font-weight: 300;
}

.social-facebook p{
  margin: 0;
  padding: 0 10px;
}
.social-facebook i{
  color: var(--white-color);
}

.social-google{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  background-color: rgb(229, 226, 226);
  padding: 10px;
  color: rgb(145, 77, 77);
  font-weight: 300;
  border-right: 1px solid #f5f5f5;
}

.social-google p{
  margin: 0;
  padding: 0 10px;
}

.social-google i{
  font-size: 2rem;
}

.signup-form-switch{
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.signup-switch-login{
  text-decoration: none;
  color: var(--primary-color);
}
