<section class="info_section ">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="info_contact">
          <h5>
            <a href="#" class="navbar-brand">
              <span>
                <%= t ".bookstore" %>
              </span>
            </a>
          </h5>
          <p>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
              <%= t ".address" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
