<footer class="footer">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid-column-new2">
                        <h3 class="footer-heading">Chăm sóc khách hàng</h3>
                        <ul class="footer-list">
                            <li class="footer-item">Trung Tâm Trợ Giúp</li>
                            <li class="footer-item">Hướng Dẫn Mua Hàng</li>
                            <li class="footer-item">Thanh Toán</li>
                            <li class="footer-item">Vận Chuyển</li>
                            <li class="footer-item">Trả Hàng & Hoàn Tiền</li>
                            <li class="footer-item">Chính Sách Bảo Hành</li>
                        </ul>
                    </div>
                    <div class="grid-column-new2">
                        <h3 class="footer-heading">Giới thiệu</h3>
                        <ul class="footer-list">
                            <li class="footer-item">Giới thiệu về Ebook</li>
                            <li class="footer-item">Liên hệ với chúng tôi</li>
                            <li class="footer-item">Nguyễn Trần Nhật Anh</li>
                            <li class="footer-item">Boy Cô Đơn</li>
                            <li class="footer-item">Nguyễn Tiến Đàn</li>
                            <li class="footer-item">Nhà Giàu Lắm Đất</li>
                        </ul>
                    </div>
                    <div class="grid-column-new2">
                        <h3 class="footer-heading">Danh mục</h3>
                        <ul class="footer-list">
                            <li class="footer-item">Sách giáo khoa</li>
                            <li class="footer-item">Sách tiếng Anh</li>
                            <li class="footer-item">Văn Học</li>
                            <li class="footer-item">Sách Kinh Tế</li>
                            <li class="footer-item">Tâm lí - Kĩ Năng Sống</li>
                            <li class="footer-item">Sách dạy làm giàu</li>
                        </ul>
                    </div>
                    <div class="grid-column-new2">
                        <h3 class="footer-heading">Theo dõi chúng tôi trên</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <i class="footer-icon fa fa-facebook-official"></i>
                                FaceBook
                            </li>
                            <li class="footer-item">
                                <i class="footer-icon fa fa-instagram"></i>
                                Instagram
                            </li>
                            <li class="footer-item">
                                <i class="footer-icon fa fa-linkedin-square"></i>
                                LinkedIn
                            </li>
                        </ul>
                    </div>
                    <div class="grid-column-new2">
                        <h3 class="footer-heading">Vào cửa hàng trên ứng dụng</h3>
                        <ul class="footer-list">
                            <li class="footer-item">

                            </li>
                            <li class="footer-item">
                                
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </footer>
